@import 'tailwindcss';

@layer components {
  .badge-glow {
    position: relative;
    z-index: 0;
  }

  .badge-glow::before {
    content: '';
    background: linear-gradient(
      45deg,
      #7008e7,
      #90a1b9,
      #155dfc,
      #314158,
      #a684ff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    border-radius: 4px;
  }

  .badge-glow::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 4px;
    z-index: -1;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

@layer base {
  body {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}
